// Image Replacement

.ir {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	display: block;
	direction: ltr;
	overflow: hidden;
	text-indent: -999em;
}

// Contain Floats

.cf {
	@if $legacy-support {
		*zoom: 1;
	}

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

// Hidden Elements

/*
	hidden: 			Hide from both screenreaders and browsers: h5bp.com/u
	invisible: 			Hide visually and from screenreaders, but maintain layout
	visuallyhidden: 	Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

// Floated Elements

.left,
.right,
.clear {
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

// Text Styles

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.underline {
	text-decoration: underline;
}

// Block Styles

.block {
	display: block;
}

.block-center {
	margin: 0 auto;
}

// Resets

.reset {
	border: 0;
	margin: 0;
	padding: 0;
}

.reset-list { // @extends .reset
	list-style: none;
}

// User Notifications

.muted {
	color: $base-color-muted;
}

.alert {
	color: $base-color-alert;
}

.error,
.required {
	color: $base-color-error;
}

.success {
	color: $base-color-success;
}