// For JavaScript

@if $has-media-query == true {
	head {
		font-family: 'xxsmall';

		@include breakpoint(xsmall) { font-family: 'xsmall'; }
		@include breakpoint(small) { font-family: 'small'; }
		@include breakpoint(medium) { font-family: 'medium'; }
		@include breakpoint(large) { font-family: 'large'; }
		@include breakpoint(xlarge) { font-family: 'xlarge'; }
	}

	body:after { // For JavaScript
		content: 'xxsmall';
		display: none;

		@include breakpoint(xsmall) { content: 'xsmall'; }
		@include breakpoint(small) { content: 'small'; }
		@include breakpoint(medium) { content: 'medium'; }
		@include breakpoint(large) { content: 'large'; }
		@include breakpoint(xlarge) { content: 'xlarge'; }
	}
}

// For development; to hide, set $is-staging to false in main.scss

@if $is-staging == true {
	body:before {
		background: rgba(red, .5);
		bottom: 0;
		color: #fff;
		content: 'XXS';
		display: block;
		font-size: 12px;
		left: 0;
		line-height: 1;
		padding: 10px 20px;
		position: fixed;
		z-index: 100;

		@include breakpoint(xsmall) { content: 'XS'; }
		@include breakpoint(small) { content: 'S'; }
		@include breakpoint(medium) { content: 'M'; }
		@include breakpoint(large) { content: 'L'; }
		@include breakpoint(xlarge) { content: 'XL'; }
	}
}