/**
  * @mixin breakpoint
  * @param $breakpoint xsmall|small|medium|large|xlarge
  * @include breakpoint(tablet) { ... }
  */
@mixin breakpoint($breakpoint)
{
	@if $has-media-query == true {

		@if $breakpoint == 'xsmall' {
			@media only screen and (min-width: $breakpoint-xsmall)
			{
				@content;
			}
		}

		@else if $breakpoint == 'small' {
			@media only screen and (min-width: $breakpoint-small)
			{
				@content;
			}
		}

		@else if $breakpoint == 'medium' {
			@media only screen and (min-width: $breakpoint-medium)
			{
				@content;
			}
		}

		@else if $breakpoint == 'large' {
			@media only screen and (min-width: $breakpoint-large)
			{
				@content;
			}
		}

		@else if $breakpoint == 'xlarge' {
			@media only screen and (min-width: $breakpoint-xlarge)
			{
				@content;
			}
		}

	}

	@else {
		/* #{$breakpoint} */
		@content;
	}
}

/**
  * @mixin breakpoint-custom
  * @param $query {string}
  * @include breakpoint-custom("(min-width: 200px) and (max-height: 200px)") { ... }
  */
@mixin breakpoint-custom($query)
{
	@media only screen and #{$query}
	{
		@content;
	}
}

/**
  * @mixin resolution
  * @param $ratio -webkit-min-device-pixel-ratio
  * @param $resolution min-resolution dpi
  * @include resolution() { ... } | resolution(2, 192) { ... }
  */
@mixin resolution($ratio: 2, $resolution: 192)
{
	@media (-webkit-min-device-pixel-ratio: $ratio), (min-resolution: $resolution + dpi)
	{
    	@content;
	}
}

/**
  * @mixin appearance
  * @param $value (see https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance)
  * @include appearance(none);
  */
@mixin appearance($value)
{
	-webkit-appearance: $value;
	   -moz-appearance: $value;
}

/**
  * @mixin border-radius
  * @param $value pixel value
  * @note No support for IE <= 8
  * @include border-radius(5px);
  */
@mixin border-radius($value)
{
	-webkit-border-radius: $value; // iOS 3.2, Android 2.1
			border-radius: $value;
}

/**
  * @mixin box-shadow
  * @param $value pixel, color values
  * @note No support for IE <= 8
  * @include box-shadow(0 0 5px black);
  */
@mixin box-shadow($value...)
{
	-webkit-box-shadow: $value; // iOS 4.3 <, Android 3.0 <
			box-shadow: $value;
}

/**
  * @mixin box-sizing
  * @param $value border-box|content-box|padding-box|inherit
  * @note No support for IE <= 7
  * @include box-sizing(border-box);
  */
@mixin box-sizing($value)
{
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}

/**
  * @mixin transition
  * @param $property any CSS property
  * @param $duration s|ms
  * @param $function linear|ease|ease-in|ease-out|ease-in-out|cubic-bezier(n,n,n,n)
  * @param $delay s|ms
  * @include transition(color, .25s, linear);
  */
@mixin transition($property: all, $duration: $default-transition-speed, $function: $default-transition-method, $delay: 0)
{
	-webkit-transition: $property $duration $function $delay;
	   -moz-transition: $property $duration $function $delay;
	     -o-transition: $property $duration $function $delay;
	        transition: $property $duration $function $delay;
}

/**
  * @mixin transition-multiple
  * @param $transistion string of CSS transitions, comma separated
  * @include transition-multiple(color .25s linear, background-color .25s linear);
  */
@mixin transition-multiple($transitions...)
{
	-webkit-transition: $transitions;
	   -moz-transition: $transitions;
	     -o-transition: $transitions;
	        transition: $transitions;
}

/**
  * @mixin transition-disable
  * @include transition-disable();
  */
@mixin transition-disable()
{
	-webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
}

/**
  * @mixin animation
  * @param $name name of keyframe animation
  * @param $duration s|ms
  * @param $function linear|ease|ease-in|ease-out|ease-in-out|cubic-bezier(n,n,n,n)
  * @include animation(fadeIn, .25s, linear)
  */
@mixin animation($name, $duration, $function: linear)
{
	-webkit-animation: $name $duration $function;
	   -moz-animation: $name $duration $function;
	    -ms-animation: $name $duration $function;
	     -o-animation: $name $duration $function;
	        animation: $name $duration $function;
}

/**
  * @mixin animation-disable
  * @include animation-disable();
  */
@mixin animation-disable()
{
	-webkit-animation: none;
	   -moz-animation: none;
	    -ms-animation: none;
	     -o-animation: none;
	        animation: none;
}