// Legacy support for IE 7
$legacy-support:					false;

// Base font family
$base-font-family:					'Helvetica Neue', 'Hevetica', 'Arial', sans-serif !default;

// Base font size
$base-font-size:					18px !default;

// Base line height
$base-line-height:					1.5 * $base-font-size !default;

// Header font sizes
$h1-font-size:						$base-font-size * 3.5 !default;
$h2-font-size:						$base-font-size * 2.5 !default;
$h3-font-size:						$base-font-size * 2 !default;
$h4-font-size:						$base-font-size * 1.5 !default;
$h5-font-size:						$base-font-size * 1 !default;
$h6-font-size:						$base-font-size * .5 !default;

// Defaults
$default-border-radius:     		5px !default;  // Border radius
$default-indent-amount:     		40px !default; // Indentation value for lists and blockquotes
$default-padding-mobile:    		20px !default; // Defines padding from left and right edges of device
$default-transition-speed:  		.25s !default;
$default-transition-method: 		ease-in-out !default;

// Breakpoints
$breakpoint-context:				16px !default; // Redefine just in case the user's browser's default font size is not 16px
$breakpoint-xsmall:					ems(480px, $breakpoint-context) !default; // mobile
$breakpoint-small:					ems(640px, $breakpoint-context) !default; // tablet-small
$breakpoint-medium:					ems(768px, $breakpoint-context) !default; // tablet
$breakpoint-large:					ems(1024px, $breakpoint-context) !default; // desktop-small
$breakpoint-xlarge:					ems(1280px, $breakpoint-context) !default; // desktop

// Viewport widths
$viewport-width-min:				320px !default;
$viewport-width-max:				1024px !default;

// Container widths
$container-inner-width-mobile:		280px !default;
$container-inner-width-tablet:		728px !default;
$container-inner-width-desktop: 	960px !default;

// Module widths/margins
$module-width-content-main:			660px !default;
$module-width-content-sidebar:		240px !default;

// Import additional settings
@import 'settings-colors';