// Font colors
$base-font-color:					#333;
$base-placeholder-color:			#ddd;

// Link/Button colors
$base-link-primary-color:			#ff6633;
$base-link-secondary-color:			#2b52a0;

// Border colors
$base-border-color:					#e6e6e6;
$base-border-color-alert: 			#e9e498;
$base-border-color-error:			#e9b698;
$base-border-color-success:			#ace998;

// Background colors
$base-background-color:				#fff;
$base-background-color-alert: 		#f2efc1;
$base-background-color-error:		#f2d3c1;
$base-background-color-success:		#cdf2c1;

// Generic colors
$base-color-alert:					#daa549;
$base-color-error:					#ac342f;
$base-color-muted:					#555;
$base-color-success:				#4d7241;