/* header */

#header {
	margin-bottom: 40px;
	padding: $default-padding-mobile 0;
}

	#logo {
		float: left;
		display: block;
		width: percent(200px, 345px);

		@include breakpoint(xsmall) {
			width: 100px;
		}

		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}

	.nav-primary {
		float: right;
		width: percent(345px - 200px, 345px);

		@include breakpoint(xsmall) {
			margin: 40px 0;
			width: auto;
		}

		@include breakpoint(small) {
			margin: 10px 0;
		}

		li {
			text-align: right;

			@include breakpoint(xsmall) {
				display: inline-block;
				text-align: left;

				&:before {
					content: ' / ';
				}

				&:first-child:before {
					content: '';
				}
			}
		}

		.search-trigger { // @extends li
			@include breakpoint(small) {
				display: none;
			}
		}

		a {
			display: block;

			@include breakpoint(xsmall) {
				display: inline;
			}
	 	}
	}

	#search {
		background-color: rgba(black, .1);
		float: left;
		margin-top: $default-padding-mobile;
		padding: 8px;

		@include breakpoint(small) {
			clear: right;
			float: right;
			margin-top: 0;
			width: 70%;

			&.hidden {
				display: block;
			}
		}

		@include breakpoint(large) {
			width: 50%;
		}

		input {
			float: left;
			width: 70%;

			@include breakpoint(xsmall) {
				width: 80%;
			}

			@include breakpoint(medium) {
				width: 78%;
			}

			@include breakpoint(large) {
				width: 80%;
			}
		}

		button {
			float: right;
			width: 25%;

			@include breakpoint(xsmall) {
				width: 15%;
			}

			@include breakpoint(medium) {
				width: 17%;
			}

			@include breakpoint(large) {
				width: 15%;
			}
		}
	}