/* tables */

table {
	width: 100%;
}

table,
td {
	border: 1px solid $base-border-color;
}

th,
td {
	padding: 6px 10px 8px;
	text-align: left;
}

th {
	background-color: $base-color-muted;
	color: #fff;
}

td {
	vertical-align: top;
}

tr,
.plain-table tr:nth-child(odd) {
	background-color: #fff;
}

tr:nth-child(odd) {
	background-color: #f1f1f1;
}

.no-touch tr:hover {
	background-color: #e2e2e2;
}