/* base */

html,
button,
input,
select,
textarea {
	color: $base-font-color;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $base-background-color;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $base-border-color;
	margin: $base-font-size 0;
	padding: 0;
}