/* forms */

form {
	width: 100%;
}

.form-half-width {
	width: 100%;

	@include breakpoint(medium) {
		width: 50%;
	}
}

fieldset {
	border: 0;
	margin: 1em 0;
	padding: 0;
}

legend {
	font-size: 1.25 * $base-font-size;
	font-weight: bold;
	margin: 0;
	width: 100%;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

label,
select,
input[type='radio'],
input[type='checkbox'] {
	cursor: pointer;
}

input[type='radio'],
input[type='checkbox'] {
	margin: 3px 0 0;
	line-height: normal;
	margin-top: 1px \9;

	@if $legacy-support {
		*margin-top: 0;
	}
}

input[type='radio'],
input[type='checkbox'],
input[type='file'] {
	width: auto;

	&:focus {
		outline: thin dotted #333;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
}

select,
textarea,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='file'] {
	@include appearance(none);
	@include box-sizing(border-box);

	background: #fff;
	border: 1px solid rgba(#090909, .3);
	display: inline-block;
	line-height: auto;
	text-align: left;
	padding: 0 6px;
	width: 100%;

	@include breakpoint(medium) {
		width: 50%;
	}

	&:focus {
		@include box-shadow((
			inset 0 1px 1px rgba(#000, .075),
			0 0 8px rgba(#52a8ec, .6)
		));

		border-color: rgba(#52a8ec, .8);
		outline: 0;
		outline: thin dotted \9; /* IE6-9 */
	}

	&.error {
		@include box-shadow((
			inset 0 1px 1px rgba(#000, .075),
			0 0 8px rgba($base-color-error, .6)
		));

		border-color: $base-border-color-error;
	}

	.form-half-width & {
		width: 100%;
	}

	.no-rgba & {
		border-color: #b8b8b8;
	}
}

select,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='file'] {
	height: 30px;

	.ie & {
		line-height: 30px;
	}
}

select,
input[type='file'] {
	cursor: pointer;
	font-size: 11px;
	line-height: 30px;

	@if $legacy-support {
		*margin-top: 4px;
	}
}

select {
	.ie & {
		background-image: none;
		padding-bottom: 5px;
		padding-top: 5px;
	}
}

select,
textarea,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'] {
	@include box-shadow(0 0 3px rgba(#000, .2) inset);

	@include transition-multiple((
		border $default-transition-speed $default-transition-method,
		box-shadow $default-transition-speed $default-transition-method
	));

	border-radius: 0;
}

textarea {
	height: 250px;
	resize: vertical;
	width: 100%;
}

::-webkit-input-placeholder {
	color: $base-placeholder-color;
}

:-moz-placeholder {
	color: $base-placeholder-color;
}

::-moz-placeholder {
	color: $base-placeholder-color;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $base-placeholder-color;
}