/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $base-font-color;
	line-height: 1;
}

h1 {
	font-size: $h1-font-size;
	font-weight: normal;
	margin: 0;
}

h2 {
	font-size: $h2-font-size;
	font-weight: normal;
	margin: 1em 0;
}

h3 {
	font-size: $h3-font-size;
	margin: 1em 0;
}

h4 {
	font-size: $h4-font-size;
	margin: 1em 0;
}

h5 {
	font-size: $h5-font-size;
	margin: 1em 0;
}

h6 {
	font-size: $h6-font-size;
	margin: 1em 0;
}

blockquote {
	border-left: 3px solid $base-border-color;
	padding-left: $default-indent-amount;
	margin: 1em 0;

	p {
		font-size: em(18px, $base-font-size);
		font-style: italic;
		line-height: 1.4;
		margin-bottom: 0;
	}

	small {
		color: #999;
		display: block;
		line-height: 20px;
		margin-top: 5px;

		&:before {
			content: '\2014 \00A0';
		}
	}

	&.pull-right {
		border-right: 3px solid $base-border-color;
		padding-left: 0;
		padding-right: $default-indent-amount;

		p,
		small {
			text-align: right;
		}

		small {
			&:before {
				content: '';
			}

			&:after {
				content: '\00A0 \2014';
			}
		}
	}
}

q,
blockquote {
	&:before,
	&:after {
		content: '';
	}
}